@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neusans';
  src: url('../assets/fonts/neusans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neusans';
  src: url('../assets/fonts/neusans-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}